<div class="container" style="margin-top: 30px;">
    <section class="afterCalculate-section">

        <div class="page-header" >
            <h1>{{afterCalculate.windowModel.caseName}}
                <small>
                    <strong>{{afterCalculate.windowModel.windowType}}</strong>类型
                    {{afterCalculate.needObject.width}} X {{afterCalculate.needObject.height}}
                    <span ng-show="afterCalculate.windowModel.haveInner">内孔高{{afterCalculate.needObject.interHeight}}</span>
                     = {{afterCalculate.needObject.quantity}}
                    <a class="btn noprint" onclick="window.print();"><i class="icon-print"></i></a>
                </small>
            </h1>
        </div>

        <ul>
            <li ng-repeat="material in afterCalculate.materials" class="afterCalculate-material">
                <span>{{material.caseName}}：</span>
                <span class="afterCalculate-result">{{material.length}} = {{material.thisQuantity}}</span>
                <span ng-show="afterCalculate.needObject.showWeight" style="margin-left: 10px;">{{material.weight | number:3}}KG</span>
                <span ng-show="afterCalculate.needObject.showPrice" style="margin-left: 10px;">{{material.price | currency:"￥"}}</span>
            </li>
        </ul>
        <ul>
            <li ng-repeat="glass in afterCalculate.glasss" class="afterCalculate-glass">
                <span>{{glass.caseName}}：</span>
                <span class="afterCalculate-result">{{glass.lengthFormula}} X {{glass.widthFormula}} = {{glass.thisQuantity}}</span>
                <span ng-show="afterCalculate.needObject.showPrice" style="margin-left: 10px;">{{glass.price | currency:"￥"}}</span>
            </li>
        </ul>

        <ul>
            <li ng-repeat="part in afterCalculate.parts" class="afterCalculate-part">
                <span>{{part.caseName}}：</span>
                <span class="afterCalculate-result">{{part.thisQuantity}}{{part.unit}}</span>
                <span ng-show="afterCalculate.needObject.showPrice" style="margin-left: 10px;">{{part.price | currency:"￥"}}</span>
            </li>
        </ul>

        <h4 style="margin-left: 300px;">
            <span ng-show="afterCalculate.needObject.showWeight" style="margin-right: 50px;">总重：{{afterCalculate.totalWeight | number:3}}KG</span>
            <span ng-show="afterCalculate.needObject.showPrice">总价：{{afterCalculate.totalPrice | currency:"￥"}}</span>
        </h4>



    </section>
</div>

