<header id="overview" class="jumbotron subhead">
    <div class="container">
        <h1>厘数管理</h1>
        <p class="lead">厘数为本下料系统的基初数据，在这里您可以添加、修改、删除厘数。</p>
    </div>
</header>
<div class="container">

    <h3>添加或修改厘数

    </h3>
    <div class="{{result}}" ng-show="isShow">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{msg}}</strong>
    </div>
    <form class="form-inline">
        <input type="hidden" ng-model="willSaveObject.id">
        <input class="input-small" placeholder="厘数名" ng-model="willSaveObject.caseName" type="text" required>

        <button type="submit" class="btn" ng-click="saveObject(willSaveObject)">添加</button>
        <button type="submit" class="btn" ng-click="updateObject(willSaveObject)">修改</button>
        <button type="button" class="btn" ng-click="willSaveObject = undefined">清空</button>
    </form>

    <h3>已入库的厘数列表</h3>
    <table class="table">
        <thead>
        <tr>

            <th ng-repeat="tableHead in queueHead">
                {{tableHead}}
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in queue| filter:willSaveObject.caseName" ng-click="getObject(item)">

            <td>
                <button type="button" class="btn" ng-click="removeObject(item)"><i class="icon-remove"></i>删除</button>
                {{item.caseName}}</td>

        </tr>
        </tbody>
    </table>

</div>

